<div class="main_wrapper">
    <header>
        <h1>MILANE PARKER CENTER</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="pages/programme.html">Programmes</a>
                <ul>
                    <li><a href="pages/pfg.html">Gestion</a></li>
                    <li><a href="pages/pfa.html">Administration</a></li>
                    <li><a href="pages/pft.html">Technologie</a></li>
                </ul>
            </li>
            <li><a href="pages/presentation.html">Presentation</a></li>
            <li><a href="pages/personnel.html">Personnel</a>
                <ul>
                    <li><a href="pages/pa.html">Administration</a></li>
                    <li><a href="pages/pe.html">Formateurs</a></li>
                </ul>
            </li>
            <li><a href="pages/contact.html">Contact</a></li>
            <li><a href="pages/inscription.html">Inscription</a></li>
        </ul>
    </nav>
    <div class="logo">
        <img src="img/logo1.png" alt="logo de MPC">
    </div>
    <hr/>
    <section>
        <p>
            Centre de <br> Formation
            <br/> Informatique
        </p>
        <p>Une idee en action</p>
    </section>
    <footer>
        <p>Telephone : 065223782</p>
        <p>&copy || MPC 2019, tous droits reserves.</p>
    </footer>
</div>